img {
    width: 350px;
    height: auto;
}



.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #8E9AAF !important;
}

.dropdown-menu .dropdown-item {
    color: black;
}

.dropdown-menu {
    background-color: #CBC0D3;
}

.dropdown-toggle {
    background-color: #CBC0D3 !important;
}

.Header {
    background-color: #DEE2FF;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.col_Background {
    background-color: #EFD3D7;
    border-radius: 10px;
}



